@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
/* Custom CSS */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
